@model GamerRadar.ViewModels.Games.GameCreateViewModel

@{
    ViewBag.Title = "Report";
}

<h2 class="capture-smallz">Report Confirmation</h2>

<p class="capture-smallz-link">
    @Html.ActionLink("Your favourite game sugesstion has been sent! Click here to return to Games list.", "Index")
</p>