@model GamerRadar.Models.UserGame

@{
    ViewBag.Title = "Delete";
}

<h2 class="capture-smallz">Delete Confirmation</h2>
<br/>
<p class="capture-smallz-link">
    Are you sure you want to delete your game assignment?
</p>
<br/>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color capture-smallz">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Cancel", "Games")
        </div>
    }
</div>

