@{
    ViewBag.Title = "What is GamerRadar?";
}
<br />
<h2 class="capture-smallz-header" style="color: #4f722d">@ViewBag.Title</h2>

<br />
<div>
    <p align="justify" class="capture-smallz">
        <img hspace="20" src="~/Images/icon.png" align="left" />
        <br />GamerRadar is the newly released and revolutionary cross platform mobile web application. It has been developed to help people out with fighting online loneliness – it simply allows to find other gamers who play the same games at the same time and even in the nearby area. GamerRadar wants to attract and keep potential customers by utilizing leading technologies: QR codes scanning, social media and gaming platforms integration, geolocation. All of these wrapped into clean, modern, readable and intuitive user interface. GamerRadar is perfect for all kind of players – scan your game, find your match, chat, play together and stay together.
    </p>
    <br />
</div>