@{
    ViewBag.Title = "How to contact us?";
}

@{
    ViewBag.Message = "CT6014 - Advanced Concepts in Web Production - Web application prototype";
}

<h2 class="capture-smallz-header">@ViewBag.Title</h2>
<h3 class="capture-smallz">@ViewBag.Message</h3>

<address class="capture-smallz">
    Pawel Granda<br />
    S1606007<br />
    University of Gloucestershire<br />
</address>

<address class="capture-smallz">
    Personal Email: <a href="mailto:pawel.p.granda@gmail.com">pawel.p.granda@gmail.com</a><br />
    Student Email: <a href="mailto:s1606007@glos.ac.uk">s1606007@glos.ac.uk</a>
</address>